/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

html {
    /* display: table; */
    margin: auto;
    align-content: center;
}

body {
    max-width: 95%;
    margin: auto;
    align-content: center;
    /* display: table-cell; */
    /* vertical-align: middle; */
    background-color: rgb(83, 83, 100);
}

