<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" routerLink="home">
        <img src="assets/img/Logo.jpg" width="48" class="img-fluid">
        Competitive Connect 4
    </a>

    <form *ngIf="!loggedPerson" class="form-inline">
        <div *ngIf="this.incorrect" class="text-danger mr-sm-2">Incorrect username or password</div>
        <input id="username" class="form-control mr-sm-2" type="text" placeholder="Username" [(ngModel)]="user"
            [ngModelOptions]="{standalone: true}">
        <input id="password" class="form-control mr-sm-2" type="password" placeholder="Password" [(ngModel)]="pass"
            (keyup.enter)="logIn()" [ngModelOptions]="{standalone: true}">
        <button id="loginBtn" class="btn btn-success my-2 my-sm-0 mr-sm-2" type="button"
            (click)="logIn()">Login</button>
        <button id="registerBtn" class="btn btn-outline-info my-2 my-sm-0" type="button"
            routerLink="register" (click)="register()">Register</button>
    </form>

    <div *ngIf="loggedPerson" class="row text-primary">
        <h4 id="usernameText" class="my-2 my-sm-0 mr-sm-2">{{this.getLoggedPerson().username}}</h4>
        <button id="profileBtn" type="button" class="btn btn-outline-info my-2 my-sm-0 mr-sm-2" routerLink="profile">Profile</button>
        <button id="logoutBtn" type="button" class="btn btn-outline-danger my-2 my-sm-0 mr-sm-2" (click)="logOut()">Logout</button>
    </div>
</nav>