
<ng-container *ngIf="!this.gameService.paired; else ingame">
    <div id="qdiv"><div><h3>In queue</h3></div></div>
    <div id="qdiv">
    <button type="button" (click)="dequeue()">Dequeueue</button>
<br>
<p></p>
</div>
</ng-container>
<ng-template #ingame>
<div id="board-container">
    <div id="overlay-container">
        <div id="game-board">
            <h3>Opponent:{{this.gameService.opponent.username}} &nbsp;&nbsp;&nbsp; Skill Rank:{{this.gameService.opponent.rank}} </h3>
            <table id="board">
                <tr *ngFor="let row of this.gameService.board | keyvalue">
                    <td *ngFor="let col of row.value | keyvalue" (click)="makeMove(row.key,col.key)">
                        <div *ngIf="col.value == 0" class="place player0">
                            <!-- {{col.value}} --> 
                        </div>
                        <div *ngIf="col.value == 1" class="place player1">
                            <!-- {{col.value}} --> 
                        </div>
                        <div *ngIf="col.value == 2" class="place player2">
                            <!-- {{col.value}} --> 
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    
        <div id="winner-area" *ngIf="this.gameService.winner != null" [style]="'min-width:' + boardWidth + 'px;' + 'min-height:' + boardHeight + 'px;'">
            <h3>{{this.gameService.gametext}}</h3>
            <button type="button" (click)="goHome()">Home</button>
            <button type="button" (click)="playAgain()">Play again</button>
        </div>
    </div>
</div>
</ng-template>
