
<app-queue></app-queue>
<div class="text-light">
    <h1>Today's Top Players</h1>
    <table class="table table-light table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Wins</th>
                <th>Username</th>
                <th>rank</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let winnerObj of leaderboard">
                <td style="text-align:center"class="first"> {{winnerObj.wins}}</td>
                <td style="text-align:center"class="second"><div>{{winnerObj.winner.username}}</div></td>
                <td style="text-align:center"class="third"><div>{{winnerObj.winner.rank}}</div></td>
            </tr>
        </tbody>
    </table>
</div>
