<!-- <div 
    style="width:170px;
    height:auto;
    background:hsl(0, 71%, 58%);
    color:#FFF;
    padding:5px 2px;
    text-align:center;
    top:0;
    position:absolute; 
    right:0;"> -->

 
    <ng-container *ngIf="loggedPerson; else noUser">
        <!-- <h3>Profile Picture</h3>
        <img  class="images" src="../Pictures/asdf/asdf.jpeg"/> -->
        <div><h3>Username: {{ loggedPerson.username }}</h3></div>
        <div><h3>Rank: {{ loggedPerson.rank }}</h3></div>
        
        <button type="button" id="editProfileBtn" (click)="editPerson=!editPerson">Toggle Edit Profile</button>
        <button type="button" id="viewPastGames" (click)="viewHistory()">View Games History</button>
    </ng-container>
    <ng-template #noUser>
        You're not logged in.
    </ng-template>
    <ng-container *ngIf="editPerson">
        <div>
        <section>
        <h3>Edit profile for: {{ loggedPerson.username }}</h3>
        <label for="username">New Username: </label><br>
        <input name="username" type="text" [(ngModel)]="newUsername"><br>
        <button type="button" (click)="updateUsername()">Update Username</button>
        <br>
        <label for="password">New Password: </label><br>
        <input name="password" type="password" [(ngModel)]="newPassword"><br>
        <input type="password" [(ngModel)]="newPassword2"><br>
        <button type="button" (click)="updatePassword()">Update Password</button>
        <br>
        <h4>{{ loggedPerson.profilePicFilePath }}</h4></section></div>
    </ng-container>
    <ng-container>
        <h3>View history for: {{ loggedPerson.username }}</h3>
       <table>
           <tr>   
                <th>Game ID</th>
                <th>Date Played</th>
                <th>Time Played</th>
                <th>Username</th>
         </tr>
          <tr *ngFor="let game of gameHistoryArray">
                <td> {{ game.id }}</td>
                <td>{{ game.timestamp.month }} {{ game.timestamp.dayOfMonth }}, {{ game.timestamp.year }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{ game.timestamp.hour}}:{{game.timestamp.minute}}</td>
                <td>{{ game.winner.username }}</td>
        </tr>
    </table>

    </ng-container>

